*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(214, 74%, 93%);
    font-size: 15px;
    display: flex;
    justify-content: center;

}
.container{
    background-color: white;
    margin-top: 6%;
    border-radius: 20px;
    max-width: 300px; /* Set the container width to fit its content */
    overflow: hidden; /* Hide any overflow content */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

img{
    object-fit:fill;
    width: 100%;
    border-radius: 20px;
    /* margin-bottom: 3px; */
    /* box-sizing: border-box; */
    
}
.image, .content {
    width: 100%; /* Make both image and content take up full width */
    padding: 5% 5% 0 5%; /* Add padding for spacing */
    box-sizing: border-box; /* Ensure padding is included in width */
}
.heading{
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}
.para{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(159, 159, 159);
}

@media all and (max-width: 425) and (min-width: 0px){
    .container{
        margin-top: 10%;
    }
}